body {
	font-family: 'Permanent Marker', cursive;
}

.title {
	font-size: 100px;
	text-align: center;
}

.board {
	padding: 200px;
	margin: auto;
	border-collapse: collapse;
}

/**
 * Top row (left middle right)
 */
.tl {
	border-left: none;
	border-top: none;
}
.tm {
	border-top: none;
}
.tr {
	border-top: none;
	border-right: none;
}

/**
 * Middle row (left middle right)
 */
.ml {
	border-left: none;
}
.mr {
	border-right: none;
}

/**
 * Bottom row (left middle right)
 */
.bl {
	border-bottom: none;
	border-left: none;
}
.bm {
	border-bottom: none;
}
.br {
	border-right: none;
	border-bottom: none;
}

td {
	border: 3px solid black;
	height: 100px;
	width: 100px;
	font-size: 65px;
	text-align: center;
}

.hovering {
	color: grey;
}

.winner {
	color: red;
}

.x {
	position: absolute;
    font-size: 80px;
    left: 30%;
    top: 32%;
}

.o-score, .x-score {
	font-size: 32px;
	text-align: center;
}

.o {
	position: absolute;
    font-size: 80px;
    left: 67%;
    top: 32%;
}